<div class="container min-vh-100 p-5 d-flex flex-column align-items-center justify-content-center">
  <div class="main-page h-auto p-3 d-flex flex-column justify-content-between">
    <div>
      <h2 class="mb-2">Editar sua conta</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                hint: "Deixe em branco para não alterá-la",
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Nova Senha" %>
          <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Confirme a Nova Senha"  %>
          <%= f.input :current_password,
                hint: "Precisamos da sua senha atual para confirmar as alterações",
                required: true,
                input_html: { autocomplete: "current-password" },
                label: "Senha Atual" %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Atualizar", class: "btn btn-contacts inside-link" %>
        </div>
      <% end %>
    </div>
    <div class="d-flex flex-column my-4">
      <h3>Insatisfeito?</h3>
      <div>
        <%= button_to "Clique para encerrar",
        registration_path(resource_name),
        data: { confirm: "Certeza que deseja encerrar sua conta?",
        turbo_confirm: "Certeza que deseja encerrar sua conta?" },
        method: :delete,
        class: "btn btn-contacts inside-link" %>
      </div>
      <div class="w-100 text-end">
        <%= link_to "Voltar", :back, class: "text-reset text-decoration-none inside-link" %>
      </div>
    </div>
  </div>
</div>
