<div class="container min-vh-100 d-flex flex-column align-items-center justify-content-center">
  <div class="main-page contacts-display p-0 d-flex flex-column">
    <div class="w-100 d-flex justify-content-end">
      <%= render "setting_menu" %>
    </div>
    <div class="contacts-wrapper">
      <div class="d-flex flex-column justify-content-center mt-0 mb-3">
        <h1 class="index-title text-center">Aniversariantes Cadastrados</h1>
        <div class="row align-items-center mt-4">
          <div class="col-md mb-3 d-flex justify-content-center">
            <%= render "new_contact_modal", contact: @contact %>
          </div>
          <div class="col-md-6 mb-3">
            <%= form_with url: contacts_path, method: :get, class: "d-flex" do %>
              <%= text_field_tag :query,
              params[:query],
              class: "form-control custom-search-input",
              placeholder: "Encontre um contato"
            %>
              <%= submit_tag "Procurar", name: "", class: "btn btn-contacts" %>
            <% end %>
          </div>
          <div class="col-md mb-3 d-flex justify-content-center">
            <%= render "sharing_link_modal", user: @user %>
          </div>
        </div>
      </div>
      <% if params[:query].present? %>
        <% @grouped_contacts.each do |month, contacts| %>
          <% if contacts.present? %>
            <h3 class="month-written text-end"><%= t("date.month_names")[Date::MONTHNAMES.index(month.to_s.capitalize)] %></h3>
          <% end %>
          <% contacts.each do |contact| %>
            <div class="d-flex justify-content-between">
              <div class="d-flex flex-column mb-2">
                <h5 class="mb-0 contact-name"><%= contact.name.capitalize %></h5>
                <%= content_tag(:span, I18n.l(contact.birthday, format: '%d de %B'), class: "date-written fs-6 fst-italic") %>
              </div>
              <ul>
                <%= render "edit_contact_modal", contact: contact %>
                <%= link_to(
                  "",
                  contact_path(contact),
                  data: {
                    turbo_method: :delete,
                    turbo_confirm: 'You sure?'
                  },
                  class: "fa-solid fa-trash h-auto ms-2 text-reset"
                ) %>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <% @grouped_contacts.each do |month, contacts| %>
          <h3 class="month-written text-end"><%= t("date.month_names")[Date::MONTHNAMES.index(month.to_s.capitalize)] %></h3>
          <% if contacts.empty? %>
            <p class="date-written fs-6 fst-italic text-center">Sem aniversariantes cadastrados no mês...</p>
          <% else %>
            <% contacts.each do |contact| %>
              <div class="d-flex justify-content-between">
                <div class="d-flex flex-column mb-2">
                  <h5 class="mb-0 contact-name"><%= contact.name.capitalize %></h5>
                  <%= content_tag(:span, I18n.l(contact.birthday, format: '%d de %B'), class: "date-written fs-6 fst-italic") %>
                </div>
                <ul>
                  <%= render "edit_contact_modal", contact: contact %>
                  <%= link_to(
                    "",
                    contact_path(contact),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: 'Certeza que deseja excluir esse contato?'
                    },
                    class: "fa-solid fa-trash h-auto ms-2 text-reset"
                ) %>
                </ul>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- <%= link_to "Send Messages", send_message_path, data: { turbo_method: :post } %> -->
</div>
