<div class="container vh-100">
  <div class="p-5 m-5 main-page">
    <%= link_to "Send Messages", send_message_path, data: { turbo_method: :post } %>
    <div class="d-flex justify-content-between">
      <h1>Aniversariantes Cadastrados</h1>
      <%= render "setting_menu" %>
    </div>
    <div class=" my-3 text-center">
      <%= render "new_contact_modal", contact: @contact %>
    </div>
    <% @grouped_contacts.each do |month, contacts| %>
      <h2><%= t("date.month_names")[Date::MONTHNAMES.index(month.to_s.capitalize)] %></h2>
      <% contacts.each do |contact| %>
        <div class="d-flex justify-content-between">
          <div>
            <%= contact.birthday %>
            <%= contact.name.capitalize %>
          </div>
          <ul>
            <%= render "edit_contact_modal", contact: contact %>
            <%= link_to(
                    "",
                    contact_path(contact),
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: 'You sure?'
                    },
                    class: "fa-solid fa-trash h-auto ms-2 text-reset"
                ) %>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
